*{
    margin: 0;
    padding: 0;
    background-color: #8787a0;
}
h1{
    text-align: center;
    border: solid;
     padding: 10px;
     background-color: rgb(138, 194, 240);
}
.A1 img{
    width: 15%;
    height: 250px;
}
p{
    text-align: center;
    font-size: large;
    text-shadow: 1px 2px;
}
.gg img{
    width: 14%;
    height: 200px;
    margin-left: 100px;
}
.tt ol{
    list-style-type: none ;
    direction: rtl;
}
.jk ul{
    margin-left: 50px;

}
.uu{
    text-align: center;
    border: dotted;
    margin: 50px;
    padding: 20px 30px 10px 20px ;
    background-color: teal;
        
}
.mm table{
    text-align: center;
    width: 400px;
     height: 300px;
     position: absolute;
     left: 30%;
     background-color: tomato;
}