*{
    margin: 0;
    padding: 0;
}
body{
    background: #8787a0;

}
h1{
    text-align: center;
    font-style: italic;
    border: 3px black ridge;
    padding: 10px;
    background-color: rgba(197, 212, 212, 0.644);
}
.mn img{
    width: 20%;
    height: 30%;
    position: relative;
    left: 10%;
    padding-left: 80px;
}
p{
    padding: 70px 50px 0 30px;
    font-size: large;
    
}
.w{
    padding: 30px 480px ; 
    
}
.w table{
    width: 200%;
    height: 110%;
}
h2{
    text-align: center;
    text-shadow: 1px 2px ;
    
}
.u img{
    width: 20%;
    position: absolute;
    right: 520px;
}
h3{
    text-align: center;
    
}
.r img{
    width: 30%;
    position: absolute;
    right: 450px;
}
.o img {
    width: 11%;
    margin-left: 80px ;
}
.hh{
    border-top: 1px dotted white;
    border-bottom: 1px dotted white ;
   margin-bottom: 10px ;
    
    font-size: large;
}
.k video{
    position: relative;
    left: 850px;
    bottom: 240px;
}
.lm img{
    width: 20%;
    margin-left: 140px ;
}
.ff h2{
    text-align: center;
    font-style: italic;

}
.ff{
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    font-size: large;
}
.ff video{
    position: relative;
    left: 800px;
    bottom: 194px;
}
h4{
    text-align: center;
   font-size: large;
    font-style: italic;
}
.df{
    font-size: large;
}


.df video{
    position: relative;
    left: 850px;
    bottom: 180px;
}

